.header
  グループを作成しました


.contents
  
  .contents__chat-left-side
    
    .contents__chat-left-side__top
      .contents__chat-left-side__top__box
        .contents__chat-left-side__top__box__user-name
          test-user
        .contents__chat-left-side__top__box__menu
        %ul
        .contents__chat-left-side__top__box__menu
          %li.contents__chat-left-side__top__box__menu__new-group
            = fa_icon "edit"
          %li.contents__chat-left-side__top__box__menu__new-group
            = fa_icon "cog"
          .contents__chat-left-side__top__box__menu__edit-user
    
    .contents__chat-left-side__groups
      .contents__chat-left-side__groups__group
        .contents__chat-left-side__groups__group__group-name
          test-group
        .contents__chat-left-side__groups__group__latest-message
          まだメッセージがありません
  
  
  .contents__chat-right-side
    
    .contents__chat-right-side__top
      .contents__chat-right-side__top__left-box
        .contents__chat-right-side__top__left-box__current-group
          test-group
        .contents__chat-right-side__top__left-box__member-list
          %ul Member ：
          %li.contents__chat-right-side__top__left-box__member-list__member 
          aaa
          %li.contents__chat-right-side__top__left-box__member-list__member 
          test-user
      .contents__chat-right-side__top__edit-btn
        Edit
    
    .contents__chat-right-side__messages
      .contents__chat-right-side__messages__message
        .contents__chat-right-side__messages__message__upper-info
          .contents__chat-right-side__messages__message__upper-info__talker
            test-user
          .contents__chat-right-side__messages__message__upper-info__date
            2019/08/08(Tun)
      .contents__chat-right-side__messages__message__text
        こんにちは！
    .contents__chat-right-side__from
      .contents__chat-right-side__from__new_message
        .contents__chat-right-side__from__new_message__input-box
          type a message
          .contents__chat-right-side__from__new_message__input-box__text
          .contents__chat-right-side__from__new_message__input-box__image
          %ul
          .contents__chat-right-side__from__new_message__input-box__image
            %li.contents__chat-right-side__from__new_message__input-box__image__file
            = fa_icon "image"
      .contents__chat-right-side__from__submit-btn
        Send